{% extends "layout.html" %}

{% block content %}

<!-- Page Content -->
  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">About</h1>
        <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>
        
        <div style="height: 200px"></div>
        </div>
    </div>
  </div>

  {% endblock %}